<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunrise Ventures</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="nav">
        <div class="logo">
            <img src="/logo.jpg" alt="Sunrise Ventures Logo">
        </div>
        <div><h1> Sunrise-Ventures </h1></div>
        <div class="text">
            <ul>
                <!-- <li><a href="/admin/signIn">Admin</a></li> -->
                <li><a href="/home">Home</a></li>
                <!-- <li><a href="/aboutus" id="aboutUsBtn">About Us</a></li> -->
                <li><a href="/contactus" id="contactUsBtn">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="bg_image">
            <img src="/bg_image.jpg" alt="Background Image">
        </div>
        <div class="grid">
            <a href="/realEstate">
                <div class="image1">
                    <img src="/realestate.jpg" alt="Buy and Sell">
                </div>
            </a>
            <a href="/agriculture">
                <div class="image1">
                    <img src="/agri.jpg" alt="Agriculture">
                </div>
            </a>
            <a href="/drone">
                <div class="image1">
                    <img src="/drone.jpg" alt="Drone">
                </div>
            </a>
            <a href="/global-opportunities">
                <div class="image1">
                    <img src="/global.jpg" alt="Global Opportunities">
                </div>
            </a>
            <a href="/alkine-water">
                <div class="image1">
                    <img src="/alkaline.jpg" alt="Alkine Water">
                </div>
            </a>
            <a href="/farm-management">
                <div class="image1">
                    <img src="/farm.jpg" alt="Farm Management">
                </div>
            </a>
        </div>
    </div>
</body>
</html>
